In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
poverty_df = pd.read_csv('../data/poverty data 2019.csv')
poverty_df.head()

,geoid,name,B17001001,"B17001001, Error",B17001002,"B17001002, Error",B17001003,"B17001003, Error",B17001004,"B17001004, Error",...,B17001055,"B17001055, Error",B17001056,"B17001056, Error",B17001057,"B17001057, Error",B17001058,"B17001058, Error",B17001059,"B17001059, Error"
0,01000US,United States,320118791,24954,39490096,242000,17473451,123014,1755965,33740,...,18362059,36749,18647222,31141,19541316,31364,15097790,26487,10955766,22880
1,04000US01,Alabama,4781688,3063,739108,24870,319539,13494,36482,3005,...,260306,5870,274091,4760,294773,3260,239924,3660,171816,3378
2,04000US02,Alaska,713725,1271,71938,7880,33577,3994,4049,1033,...,40784,1806,39186,1812,41927,1595,27494,1186,13740,1182
3,04000US04,Arizona,7116266,3597,958442,33279,439568,19002,45532,4367,...,382605,5355,386187,4076,404941,4422,363974,3286,261668,3037
4,04000US05,Arkansas,2929117,2439,474739,16707,204965,9064,21588,3158,...,160837,4525,160741,3698,166573,3407,143900,2448,102699,2355

In [4]:
poverty_df.shape

(52, 120)